<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/Logo.png" type="image/png" />
    <link href="/src/output.css" rel="stylesheet" />
    <!-- AOS ANIMATE -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Ichwan Ardianto | Software Developer & IT Enthusiast</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

    <style>
      body {
        font-family: 'Work Sans', sans-serif;
      }
    </style>
  </head>
  <body class="bg-slate-950">

    <!-- layout nav -->
     <%- include('layouts/nav2') %>

    <!-- Main Section -->
    <section id="main" class="pt-10 relative">
      <div class="container mx-auto space-y-4 sm:space-y-16">
        <!-- Loop Project -->
        <div class="relative w-full h-96 flex items-center justify-center" data-aos="fade-up" data-aos-duration="500">
          <img src="<%= latestProject ? latestProject.gambar : '/images/default.png' %>" alt="Project Image" class="w-full h-full object-cover opacity-50 blur-sm" />
          <div class="absolute flex flex-col md:flex-row justify-center w-full text-white gap-x-8">
            <div class="w-full md:w-1/2 px-5">
              <a href="<%= latestProject ? latestProject.link : '#' %>">
                <img src="<%= latestProject ? latestProject.gambar : '/images/default.png' %>" alt="project-1" class="w-full h-44 sm:h-48 md:h-72 object-cover rounded-lg shadow-lg" />
              </a>
            </div>
            <!-- Project Info -->
            <div class="w-full md:w-1/2 flex flex-col justify-center px-5 mt-3 sm:mt-0">
              <span class="sm:text-sm mb-5 px-2 font-bold bg-amber-500 text-slate-950 italic" style="width: fit-content">Latest Project</span>
              <span class="font-bold text-md"><%= latestProject ? latestProject.tanggal.toISOString().split('T')[0] : 'No Date' %></span>
              <p class="py-2 text-2xl sm:text-lg md:text-xl lg:text-5xl font-bold leading-snug"><%= latestProject ? latestProject.deskripsi : 'Belum ada proyek terbaru' %></p>
            </div>
          </div>
        </div>

        <!-- 2 -->
        <div class="relative w-full h-96 flex items-center justify-center" data-aos="fade-up" data-aos-duration="1000">
          <img src="<%= latestBlog ? '/uploads/' + latestBlog.gambar : '/images/default.png' %>" alt="Project Image" class="w-full h-full  object-cover opacity-50 blur-sm" />
          <div class="absolute flex flex-col md:flex-row justify-center w-full text-white gap-x-8">
            <div class="w-full md:w-1/2 px-5">
              <a  href="/mainBlog/<%= encodeURIComponent(latestBlog.judul) %>">
                <img src="<%= latestBlog ? '/uploads/' + latestBlog.gambar : '/images/default.png' %>" alt="project-1" class="w-full h-44 sm:h-48 md:h-72 object-cover  rounded-lg shadow-lg" />
              </a>
            </div>
            <!-- Project Info -->
            <div class="w-full md:w-1/2 flex flex-col justify-center px-5 mt-3 sm:mt-0">
              <span class="sm:text-sm mb-5 px-2 font-bold bg-amber-500 text-slate-950 italic" style="width: fit-content">Latest Blog</span>
              <span class="font-bold text-md"><%= latestBlog ? latestBlog.tanggal.toISOString().split('T')[0] : 'No Date' %></span>
              <p class="py-2 text-2xl sm:text-lg md:text-xl lg:text-5xl font-bold leading-snug"><%= latestBlog ? latestBlog.judul : 'Belum ada proyek terbaru' %></p>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="relative w-full h-96 flex items-center justify-center" data-aos="fade-up" data-aos-duration="500">
          <img src="<%= latestPicture ? latestPicture.gambar : "/images/8.jpg"%>" alt="Project Image" class="w-full h-full object-cover opacity-50 blur-sm" />
          <div class="absolute flex flex-col md:flex-row justify-center w-full text-white gap-x-8">
            <div class="w-full md:w-1/2 px-5">
              <a href="/picture"> <img src="<%= latestPicture ? latestPicture.gambar : "/images/8.jpg"%>" alt="project-1" class="w-full h-44 sm:h-48 md:h-72 object-cover rounded-lg shadow-lg" /> </a>
            </div>
            <!-- Project Info -->
            <div class="w-full md:w-1/2 flex flex-col justify-center px-5 mt-3 sm:mt-0">
              <span class="sm:text-sm mb-5 px-2 font-bold bg-amber-500 text-slate-950 italic" style="width: fit-content">Latest Picture</span>
              <span class="font-bold text-md">2/26/25</span>
              <p class="py-2 text-2xl sm:text-lg md:text-xl lg:text-5xl font-bold leading-snug">Lorem dolor consectetur adipisicing elit. Dolorem, fugit!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <section id="footer">
      <div class="container-fluid py-10 flex justify-center">
        <div class="text-lg font-semibold text-white">Ⓒ 2025 Ichwan</div>
      </div>
    </section>

    <script src="/src/script.js"></script>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
  </body>
</html>
